body {
	font-family: 'Times New Roman', Times, serif;
	overflow-x: hidden;
}



/*==============MENU============*/


#menu {
	a {
		font-size: 18px;
		font-weight: bold;
		color: #3f3f3f;
	}
	button {
		font-size: 18px;
		font-weight: bold;
		color: #3f3f3f;
	}
}
.carousel-inner {
	max-height: 39rem;
}
.titulo-servicios {
	display: flex;
	justify-content: center;
	font-size: xx-large;
	color: white;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bolder;
	background-color: rgb(25, 123, 189);
	margin: 50px;
}

/*===== SECCION SERVICIOS=====*/
$bgcaja1: #eec2c2;
$bgcaja2: #aa7575;
$bgcaja3: #cf8686;
$bgcaja4: #775c5c;
$oscuro: #080e1b;
@mixin estilosgrid ($color,$bg){
	background-color: $bg;
	border-radius: 5px;
	padding: 1rem;
	margin: 1rem;
	h3{
		color: $color
	}
	p{
		color: $color;
	}
}
.desarrollo{
	@include estilosgrid($oscuro, $bgcaja1)
}
.concepto{
	@include estilosgrid($oscuro, $bgcaja2)
}
.comunicaciones{
	@include estilosgrid($oscuro, $bgcaja3)
}
.seo{
	@include estilosgrid($oscuro, $bgcaja4)
}
/*===== SECCION EQUIPO=====*/


.mapa {
	background: url(../img/mapa.png);
	width: 100%;
	height: 500px;
}
#local {
	background-color: #f3f3f3;
	padding-bottom: 300px;
	display: flex;
	justify-content: center;
}
.wrapper {
	width: 50%;
	margin-left: 100px;
	margin-top: 150px;
}


/*===== SECCION FORMULARIO=====*/


#section-formulario {
	background-color: #1b2a4e;
	min-height: 500px;
	position: relative;
}
#contenedor-formulario {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fbfafa;
	border-radius: 5px;
	max-width: 500px;
}
#titulo-formulario {
	color: #3f3f3f;
}


/*=====FOOTER=====*/


footer {
	background: #1b2a4e;
	min-height: 100px;
	p {
		color: #f3f3f3;
		text-align: center;
	}
}
#iconos {
	i {
		font-size: 26px;
		padding: 0 8px;
		color: #f3f3f3;
	}
}


/*===== MEDIA QUERIES PANTALLA SM=====*/

@media (max-width:768px) {
	#intro {
		width: 90%;
	}
	#equipo {
		width: 90%;
		p {
			display: none;
		}
	}
	.servicio-fila {
		width: 100%;
		text-align: center;
	}
}



/*===== MEDIA QUERIES PANTALLA ANCHA=====*/

@media (max-width:1200px) {
	#local {
		flex-wrap: wrap;
		padding-top: 30px;
	}
	.wrapper {
		width: 90%;
		margin: auto;
		padding-top: 50px;
	}
}

